@import '@angular/material/prebuilt-themes/indigo-pink.css';

* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: 'Inter', sans-serif; background: #ffffff; color: #1a3c2a; margin: 0; }
